/app/config/parameters.yml
/build/
/coverage/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
/build/
/.sass-cache
/app/cache.properties
/node_modules/
/app/Resources/lib
/web/build
.php_cs.cache
/bin/*
!/bin/console
!/bin/symfony_requirements
/data/mysql
.phpunit.result.cache

# fengshun
/vendor/*
!/vendor/j0k3r/
/vendor/j0k3r/*
!/vendor/j0k3r/httplug-ssrf-plugin/
/vendor/j0k3r/httplug-ssrf-plugin/*
!/vendor/j0k3r/httplug-ssrf-plugin/src/
/vendor/j0k3r/httplug-ssrf-plugin/src/*
!/vendor/j0k3r/httplug-ssrf-plugin/src/Options.php

